body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 65%;
    /* padding: 2rem; */
    margin: 100px auto;
    display: flex;
    border-radius: 10px;

}

.card{
    width: 100%;
    padding: 2rem 2.5rem;
    /* border-radius: 20px 0 0 20px ; */
}

.sedan{
    background-color: #e28525;
    border-radius: 10px 0 0 10px;
}
.suv{
    background-color: #016972;
}
.luxury{
    background-color: #00403f;
    border-radius: 0 10px 10px 0;
}
.vehicle-classification{
    font-size: 35px;
    color: white;
    font-family: 'Teko', sans-serif;
   
}
.note{
    font-family: 'Questrial', sans-serif;
    font-size: 16.5px;
    font-weight: 200;
    color: #ffff;
    line-height: 1.5;
    margin-bottom: 25px;
    opacity:  0.6;
    
    
    /* width: 92%; */

}
.learn-more{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
.learn-more:hover {
    color: white;
}
.sedanbtn{
    /* background-color: #e28525;*/
    color: #e28525;
    
}
.sedanbtn:hover{
    background-color: #e28525;
    border: 2px solid white;
}
.suvbtn{
    color: #016972;
}
.suvbtn:hover{
    background-color: #016972;
    border: 2px solid white;
}
.luxurybtn{
    color: #00403f;
}
.luxurybtn:hover{
    background-color: #00403f;
    border: 2px solid white;
}