body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 65%;
    margin: 100px auto;
    display: flex;
}

.card{
    /* width: 100%; */
    /* padding: 2rem 2.3rem; */
    padding: 12px 15px;
}


.sedan{
    background-color: #e28525;
    border-radius: 10px 0 0 10px;
}
.suv{
    background-color: #016972;
}
.luxury{
    background-color: #00403f;
    border-radius: 0 10px 10px 0;
}

.vehicle-classification{
    font-size: 35px;
    color: white;
    font-family: 'Teko', sans-serif;
   
}
.note{
    font-family: 'Questrial', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: #ffff;
    line-height: 1.5;
    margin-bottom: 25px;
    opacity:  0.6;
    

}

.learn-more{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

.learn-more:hover {
    color: white;
}

.sedanbtn{
    
    color: #e28525;
    
}

.sedanbtn:hover{
    background-color: #e28525;
    border: 2px solid white;
}

.suvbtn{
    color: #016972;
}

.suvbtn:hover{
    background-color: #016972;
    border: 2px solid white;
}

.luxurybtn{
    color: #00403f;
}

.luxurybtn:hover{
    background-color: #00403f;
    border: 2px solid white;
}


@media screen and (max-width: 950px) { 
    .container{
        width:40%;
        flex-direction: column;
        margin: 50px auto;
    }
    .card{
        padding: 20px 45px;
    }
    .sedan{
        border-radius: 10px 10px 0 0;
    }
    .luxury{
        border-radius: 0 0 10px 10px;
    }
    .vehicle-classification{
        margin-top: 22px;
        margin-bottom: 25px;
        font-weight: 300;
        font-size: 55px;
    }
    .note{
        font-size: 20px;
        margin: 18px  0;
    }
    .learn-more{
        padding: 20px 30px;
        border-radius: 30px;
    }
}
    

@media screen and (max-width: 480px) {
    .container{
        width: 48%;
        margin: 25px auto;
    }
    
   .note{
    font-size: 16px;
   } 
}
@media screen and (max-width: 1400px) {
    .container{
        width: 80%;
    }
    .note{
        font-size: 16.5px;
    }
}
